<div class="container" *ngIf="doctor">
	<div class="bg-light p-5 rounded mt-3">
		<div class="row">
			<div class="col">
				<div class="image">
					<img src="{{url+'get-image/'+doctor.imagen}}" height="150px"/>
				</div>
				<h1>{{doctor.name}} {{doctor.surname}}</h1>
				<p>{{doctor.email}}</p>
			</div>
			<div class="col">
				<h3>Datos profesionales
					<hr>
				</h3>
				<p><b>Especialidad:</b> {{doctor.especialidad}}</p>
				<p><b>Nº Colegiado:</b> {{doctor.numColegiado}}</p>
				<p><b>Aseguradora:</b> {{doctor.insurance}}</p>
				<p><b>CV:</b> <a href="{{url+'get-cv/'+doctor.cv}}" download="{{doctor.name + doctor.surname}} CV">{{doctor.cv}}
				</a></p>
				
			</div>
		</div>
		<br>
		<div class="row">
			<h3>Dirección consulta<hr></h3>
			<p><b>Direccción:</b> {{doctor.address}}</p>
			<p><b>Comunidad Aútonoma:</b> {{doctor.comunidad}}</p>
			<p><b>Provincia:</b> {{doctor.province}}</p>
		</div>

		<br>
		<div class="row">
			<h3>Opiniones ({{doctor.numOpiniones}})<hr></h3>
			<div *ngIf="doctor.numOpiniones != 0; else noOpiniones">
				<table class="table table-hover" >
					<thead class="thead-dark">
					<tr>
						<th scope="col">Comentario</th>
						<th scope="col">Valoración</th>
					</tr>
					</thead>
					<tbody>
					<tr *ngFor="let opinion of opinions">
						<td>{{opinion.comentario}}</td>
						<td>{{opinion.valoracion}} / 5</td>
					</tr>
					</tbody>
				</table>
				<ng-template #noOpiniones>
					El doctor no tiene opiniones.
				</ng-template>
			</div>
		</div>

		<div class="row justify-content-md-center">
			<div class="col-md-1"><button type="button" class="btn btn-primary" [routerLink]="['/medicos']">Volver</button></div>
			<div class="col-md-1"><button type="button" *ngIf="userLogged" style="width: 100px" class="btn btn-primary" [routerLink]="['/pedir-cita', doctor._id]">Pedir cita</button></div>
			
		</div>

	</div>
	
    
</div>