/*Importar fuentes personalizadas*/
@font-face{
    font-family: "yanone";
    src: url("fonts/yanone.ttf");
}

@font-face{
    font-family: "finger";
    src: url("fonts/finger.ttf");
}

@font-face{
    font-family: "titilium";
    src: url("fonts/titilium.ttf");
}
 


body{
    
    font-family: 'titilium';
    font-size: 18px;
    /*background: #1498d5;*/
    background-attachment: fixed;

}


.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  
  .form-signin .checkbox {
    font-weight: 400;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  
  #forgot:hover{
    color:#0d6efd;
    cursor:pointer;
}


