/*Importar fuentes personalizadas*/
@font-face{
    font-family: "yanone";
    src: url("fonts/yanone.ttf");
}

@font-face{
    font-family: "finger";
    src: url("fonts/finger.ttf");
}

@font-face{
    font-family: "titilium";
    src: url("fonts/titilium.ttf");
}
 
.app-container{
  min-height: calc(100vh - 360px);
}

body{
    
    font-family: 'titilium';
    font-size: 18px;
    /*background: #1498d5;*/
    background-attachment: fixed;

}

