<script src="/Front/src/assets/js/form-validation.js"></script>

<div class="row justify-content-center " id="botonera">
	<div class="py-5 text-center">
		<h2>{{title}}</h2>
	</div>
	<div class="col-md-2">
		<div class="card" style="width: 18rem;">
			<img src="assets/img/perfil1.png" width="100%" height="225">
			<div class="card-body">
			<h5 class="card-title">Médico</h5>
			<p class="card-text">Selecciona este tipo de cuenta si deseas registrarte como médico,a continuación se le solicitaran una serie de datos.</p>
			<a class="btn btn-primary" id="button_doc">Crear cuenta</a>
			</div>
		</div>
	</div>
	<div class="col-md-2">
		<div class="card" style="width: 18rem;">
			<img src="assets/img/perfil2.png" width="100%" height="225">
			<div class="card-body">
			<h5 class="card-title">Paciente</h5>
			<p class="card-text">Selecciona este tipo de cuenta si deseas registrarte como paciente,a continuación se le solicitaran una serie de datos.</p>
			<a class="btn btn-primary" id="button_pat">Crear cuenta</a>
			</div>
		</div>
	</div>
</div>
<!--Registrarse medico-->
<div class="container" id="containerRegDoc">
	<div class="py-5 text-center">
	<h2>{{title3}}</h2>
	<p class="lead">Ingresa los datos que se solicitan a continuación para crear una cuenta como Médico.</p>
	</div>
  
	<div class="row g-5">
		<div class=" ">
			<h4 class="mb-3">Datos personales</h4>
			<hr class="my-4">
			<form [formGroup]="formD"  (ngSubmit)="onSubmitRegD()">
			
				<div class="row g-3">
					<div class="col-sm-6 form-group">
						<label for="name" class="form-label">Nombre</label>
						<input type="text" formControlName="name" class="form-control" placeholder="" [ngClass]="{ 'is-invalid': submitted && fD.name.errors }" />
						<div *ngIf="submitted && fD.name.errors" class="invalid-feedback">
							<div *ngIf="fD.name.errors.required">El nombre es obligatorio.</div>
						</div>
					</div>
				
					<div class="col-sm-6 form-group">
						<label for="surname" class="form-label">Apellidos</label>
						<input type="text" formControlName="surname" class="form-control"  placeholder="" [ngClass]="{ 'is-invalid': submitted && fD.surname.errors }" />
						<div *ngIf="submitted && fD.surname.errors" class="invalid-feedback">
							<div *ngIf="fD.surname.errors.required">Los apellidos son obligatorios.</div>
						</div>
					</div>
				
					<div class="col-sm-6 form-group">
						<label for="user" class="form-label">Usuario</label>
						<div class="input-group">
						<span class="input-group-text">@</span>
						<input type="text" formControlName="user" class="form-control"  placeholder="Usuario" [ngClass]="{ 'is-invalid': submitted && fD.user.errors }" />
						<div *ngIf="submitted && fD.user.errors" class="invalid-feedback">
							<div *ngIf="fD.user.errors.required">El usuario es obligatorio.</div>
						</div>
						</div>
					</div>


					<div class="col-sm-6 form-group">
						<label for="password" class="form-label">Contraseña</label>
						<div class="input-group">
							<input type="password" formControlName="password" class="form-control"  placeholder="" [ngClass]="{ 'is-invalid': submitted && fD.password.errors }"/>
							<div *ngIf="submitted && fD.password.errors" class="invalid-feedback">
								<div *ngIf="fD.password.errors.required">La contraseña es obligatoria.</div>
							</div>
						</div>
					</div>

					<div class="col-12 form-group">
						<label for="email" class="form-label">Email</label>
						<input type="email" formControlName="email" class="form-control"  placeholder="tu@ejemplo.com" [ngClass]="{ 'is-invalid': submitted && fD.email.errors }" />
						<div *ngIf="submitted && fD.email.errors" class="invalid-feedback">
							<div *ngIf="fD.email.errors.required">El email es obligatorio</div>
							<div *ngIf="fD.email.errors.patern">El email es incorrecto</div>
						</div>
					</div>
				</div>

			<h4 class="mb-2" style="margin-top: 3%;">Datos dirección</h4>
			<hr class="my-4">
			<div class="row g-3">

				<div class="col-6 form-group">
					<label for="province" class="form-label">Provincia</label>
					<input type="text" formControlName="province" class="form-control"  placeholder="Salamanca" [ngClass]="{ 'is-invalid': submitted && fD.province.errors }"/>
					<div *ngIf="submitted && fD.province.errors"class="invalid-feedback">
						<div *ngIf="fD.province.errors.required">La provincia es obligatoria.</div>
					</div>
				</div>

				<div class="col-6 form-group">
					<label for="location" class="form-label">Localidad</label>
					<input type="text" formControlName="location" class="form-control" placeholder="Salamanca" [ngClass]="{ 'is-invalid': submitted && fD.location.errors }"/>
					<div *ngIf="submitted && fD.location.errors"class="invalid-feedback">
						<div *ngIf="fD.location.errors.required">La localidad es obligatoria.</div>
					</div>
				</div>
			
				<div class="col-6 form-group">
					<label for="address" class="form-label">Dirección</label>
					<input type="text" formControlName="address" class="form-control" placeholder="C/Tecnicismo 23 4ºA" [ngClass]="{ 'is-invalid': submitted && fD.address.errors }"/>
					<div *ngIf="submitted && fD.address.errors" class="invalid-feedback">
						<div *ngIf="fD.address.errors.required">La dirección es obligatoria.</div>
					</div>
				</div>

				<div class="col-6 form-group">
					<label for="cp" class="form-label">Codigo Postal</label>
					<input type="text" formControlName="cp" class="form-control" placeholder="37003" [ngClass]="{ 'is-invalid': submitted && fD.cp.errors }"/>
					<div *ngIf="submitted && fD.cp.errors" class="invalid-feedback">
						<div *ngIf="fD.cp.errors.required">El codigo postal es obligatorio.</div>
						<div *ngIf="fD.cp.errors.pattern">El codigo postal es incorrecto.</div>
					</div>
				</div>
			</div>

			<h4 class="mb-2" style="margin-top: 3%;">Datos profesionales</h4>
				<hr class="my-4">
					<div class="row g-3">
						<div class="col-md-6 form-group">
							<label for="numColegiado" class="form-label">Nº Colegiado</label>
							<input type="text" formControlName="numColegiado" class="form-control"  placeholder="XXYYZZZZZ" [ngClass]="{ 'is-invalid': submitted && fD.numColegiado.errors }"/>
							<div *ngIf="submitted && fD.numColegiado.errors" class="invalid-feedback">
								<div *ngIf="fD.numColegiado.errors.required">El numero de colegiado es obligatorio.</div>
								<div *ngIf="fD.numColegiado.errors.minlength">El numero de colegiado es incorrecto.</div>
							</div>  
						</div>
						<div class="col-md-6 form-group">
							<label for="especialidad" class="form-label">Especialidad</label>
							<input type="text" formControlName="especialidad" class="form-control"  placeholder="Medicina General" [ngClass]="{ 'is-invalid': submitted && fD.especialidad.errors }"/>
							<div *ngIf="submitted && fD.especialidad.errors" class="invalid-feedback">
								<div *ngIf="fD.especialidad.errors.required">La especialidad es obligatoria.</div>
							</div>  
						</div>
						<div class="col-md-5 form-group">
							<label for="insurance" class="form-label">Aseguradora</label>
							<select class="form-select" formControlName="insurance" class="form-control" [ngClass]="{ 'is-invalid': submitted && fD.insurance.errors }" required>
								<option value="">Seleccionar...</option>
								<option >Sin aseguradora</option>
								<option >DKV</option>
								<option >MAPFRE</option>
								<option >ASISA</option>
								<option >Otra aseguradora</option>
							</select>
							<div class="invalid-feedback">
								Por favor, introduce una aseguradora.
							</div>
						</div>

						<div class="col-md-3">
						<label for="cv" class="form-label">Curriculum</label>
						<input type="file">
						<!--<div class="invalid-feedback">
							Por favor,introduce un curriculum.
						</div>-->
						</div>
				</div>
			<hr class="my-4">

			<div class="form-check">
				<input type="checkbox" class="form-check-input" >
				<label class="form-check-label" for="same-address">Acepto los términos y condiciones.</label>
			</div>

			<div class="form-check">
				<input type="checkbox" class="form-check-input">
				<label class="form-check-label" for="save-info">Quiero recibir información a mi email sobre las noticias de Find Your Doctor.</label>
			</div>
			<hr class="my-4">
			
			<div class="form-group">
				<button [disabled]="loading" class="w-100 btn btn-primary btn-lg" type="submit">
				  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
				  Enviar
				</button>
			</div>
			</form>
		</div>
	</div>

  </div>

<!-- Registrarse Paciente -->
<div class="container" id="containerRegPat">
	<div class="py-5 text-center">
	  <h2>{{title4}}</h2>
	  <p class="lead">Ingresa los datos que se solicitan a continuación para crear una cuenta como Paciente.</p>
	</div>

	<div class="row g-5">
	  
	  <div class=" ">
		<h4 class="mb-3">Datos personales</h4>
		<hr class="my-4">
		<form [formGroup]="formP"  (ngSubmit)="onSubmitRegP()">
			
			<div class="row g-3">
				<div class="col-sm-6 form-group">
					<label for="name" class="form-label">Nombre</label>
					<input type="text" formControlName="name" class="form-control" placeholder="" [ngClass]="{ 'is-invalid': submitted && fP.name.errors }" />
					<div *ngIf="submitted && fP.name.errors" class="invalid-feedback">
						<div *ngIf="fP.name.errors.required">El nombre es obligatorio.</div>
					</div>
				</div>
			
				<div class="col-sm-6 form-group">
					<label for="surname" class="form-label">Apellidos</label>
					<input type="text" formControlName="surname" class="form-control"  placeholder="" [ngClass]="{ 'is-invalid': submitted && fP.surname.errors }" />
					<div *ngIf="submitted && fP.surname.errors" class="invalid-feedback">
						<div *ngIf="fP.surname.errors.required">Los apellidos son obligatorios.</div>
					</div>
				</div>
			
				<div class="col-sm-6 form-group">
					<label for="user" class="form-label">Usuario</label>
					<div class="input-group">
					<span class="input-group-text">@</span>
					<input type="text" formControlName="user" class="form-control"  placeholder="Usuario" [ngClass]="{ 'is-invalid': submitted && fP.user.errors }" />
					<div *ngIf="submitted && fP.user.errors" class="invalid-feedback">
						<div *ngIf="fP.user.errors.required">El usuario es obligatorio.</div>
					</div>
					</div>
				</div>


				<div class="col-sm-6 form-group">
					<label for="password" class="form-label">Contraseña</label>
					<div class="input-group">
						<input type="password" formControlName="password" class="form-control"  placeholder="" [ngClass]="{ 'is-invalid': submitted && fP.password.errors }"/>
						<div *ngIf="submitted && fP.password.errors" class="invalid-feedback">
							<div *ngIf="fP.password.errors.required">La contraseña es obligatoria.</div>
						</div>
					</div>
				</div>

				<div class="col-12 form-group">
					<label for="email" class="form-label">Email</label>
					<input type="email" formControlName="email" class="form-control"  placeholder="tu@ejemplo.com" [ngClass]="{ 'is-invalid': submitted && fP.email.errors }" />
					<div *ngIf="submitted && fP.email.errors" class="invalid-feedback">
						<div *ngIf="fP.email.errors.required">El email es obligatorio</div>
						<div *ngIf="fP.email.errors.patern">El email es incorrecto</div>
					</div>
				</div>
			</div>

		<h4 class="mb-2" style="margin-top: 3%;">Datos dirección</h4>
		<hr class="my-4">
		<div class="row g-3">

			<div class="col-6 form-group">
				<label for="province" class="form-label">Provincia</label>
				<input type="text" formControlName="province" class="form-control"  placeholder="Salamanca" [ngClass]="{ 'is-invalid': submitted && fP.province.errors }"/>
				<div *ngIf="submitted && fP.province.errors"class="invalid-feedback">
					<div *ngIf="fP.province.errors.required">La provincia es obligatoria.</div>
				</div>
			</div>

			<div class="col-6 form-group">
				<label for="location" class="form-label">Localidad</label>
				<input type="text" formControlName="location" class="form-control" placeholder="Salamanca" [ngClass]="{ 'is-invalid': submitted && fP.location.errors }"/>
				<div *ngIf="submitted && fP.location.errors"class="invalid-feedback">
					<div *ngIf="fP.location.errors.required">La localidad es obligatoria.</div>
				</div>
			</div>
		
			<div class="col-6 form-group">
				<label for="address" class="form-label">Dirección</label>
				<input type="text" formControlName="address" class="form-control" placeholder="C/Tecnicismo 23 4ºA" [ngClass]="{ 'is-invalid': submitted && fP.address.errors }"/>
				<div *ngIf="submitted && fP.address.errors" class="invalid-feedback">
					<div *ngIf="fP.address.errors.required">La dirección es obligatoria.</div>
				</div>
			</div>

			<div class="col-6 form-group">
				<label for="cp" class="form-label">Codigo Postal</label>
				<input type="text" formControlName="cp" class="form-control" placeholder="37003" [ngClass]="{ 'is-invalid': submitted && fP.cp.errors }"/>
				<div *ngIf="submitted && fP.cp.errors" class="invalid-feedback">
					<div *ngIf="fP.cp.errors.required">El codigo postal es obligatorio.</div>
					<div *ngIf="fP.cp.errors.pattern">El codigo postal es incorrecto.</div>
				</div>
			</div>
			<div class="col-12 form-group">
				<label for="insurance" class="form-label">Aseguradora</label>
				<select class="form-select" formControlName="insurance" class="form-control" [ngClass]="{ 'is-invalid': submitted && fP.insurance.errors }" required>
					<option value="">Seleccionar...</option>
					<option >Sin aseguradora</option>
					<option >DKV</option>
					<option >MAPFRE</option>
					<option >ASISA</option>
					<option >Otra aseguradora</option>
				</select>
				<div class="invalid-feedback">
					Por favor, introduce una aseguradora correcta.
				</div>
			</div>
		</div>

		<hr class="my-4">
		  <div class="form-check">
			<input type="checkbox" class="form-check-input">
			<label class="form-check-label" for="same-address">Acepto los términos y condiciones.</label>
		  </div>

		  <div class="form-check">
			<input type="checkbox" class="form-check-input">
			<label class="form-check-label" for="save-info">Quiero recibir información a mi email sobre las noticias de Find Your Doctor.</label>
		  </div>

		  <hr class="my-4">
		  <div class="form-group">
			<button [disabled]="loading" class="w-100 btn btn-primary btn-lg" type="submit">
			  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
			  Enviar
			</button>
			</div>
		</form>
	  </div>
	</div>

</div>
