<script src="/Front/src/assets/js/form-validation.js"></script>

<div class="row justify-content-center " id="botonera">
	<div class="py-5 text-center">
		<h2>{{title}}</h2>
	</div>
	<div class="col-md-2">
		<div class="card" style="width: 18rem;">
			<img src="assets/img/perfil1.png" width="100%" height="225">
			<div class="card-body">
			<h5 class="card-title">Médico</h5>
			<p class="card-text">Selecciona este tipo de cuenta si deseas registrarte como médico,a continuación se le solicitaran una serie de datos.</p>
			<a class="btn btn-primary" id="button_doc">Crear cuenta</a>
			</div>
		</div>
	</div>
	<div class="col-md-2">
		<div class="card" style="width: 18rem;">
			<img src="assets/img/perfil2.png" width="100%" height="225">
			<div class="card-body">
			<h5 class="card-title">Paciente</h5>
			<p class="card-text">Selecciona este tipo de cuenta si deseas registrarte como paciente,a continuación se le solicitaran una serie de datos.</p>
			<a class="btn btn-primary" id="button_pat">Crear cuenta</a>
			</div>
		</div>
	</div>
</div>
<!--Registrarse medico-->
<div class="container" id="containerRegDoc">
	  <div class="py-5 text-center">
		<h2>{{title3}}</h2>
		<p class="lead">Ingresa los datos que se solicitan a continuación para crear una cuenta como Médico.</p>
	  </div>
  
	  <div class="row g-5">
		
		<div class=" ">
		  <h4 class="mb-3">Datos personales</h4>
		  <hr class="my-4">
		  <form class="needs-validation" novalidate #RegDForm ="ngForm" (ngSubmit)="onSubmitRegD(RegDForm)">
			<div class="row g-3">
			  <div class="col-sm-6">
				<label for="firstName" class="form-label">Nombre</label>
				<input type="text" class="form-control" id="firstName" placeholder="" value="" name="name" #name="ngModel" [(ngModel)]="doctor.name"required>
				<div class="invalid-feedback">
				  El nombre es obligatorio.
				</div>
			  </div>
  
			  <div class="col-sm-6">
				<label for="lastName" class="form-label">Apellidos</label>
				<input type="text" class="form-control" id="lastName" placeholder="" value="" name="surname" #surname="ngModel" [(ngModel)]="doctor.surname" required>
				<div class="invalid-feedback">
				  Los apellidos son obligatorios.
				</div>
			  </div>
  
			  <div class="col-sm-6">
				<label for="username" class="form-label">Usuario</label>
				<div class="input-group has-validation">
				  <span class="input-group-text">@</span>
				  <input type="text" class="form-control" id="username" placeholder="Usuario" name="user" #user="ngModel" [(ngModel)]="doctor.user" required>
				<div class="invalid-feedback">
					El usuario es obligatorio.
				  </div>
				</div>
			  </div>

			  <div class="col-sm-6">
				<label for="password" class="form-label">Contraseña</label>
				<div class="input-group has-validation">
				  <input type="password" class="form-control" id="password" placeholder="" name="password" #password="ngModel" [(ngModel)]="doctor.password" required>
				<div class="invalid-feedback">
					La contraseña es obligatoria.
				  </div>
				</div>
			  </div>

			  <div class="col-12">
				<label for="email" class="form-label">Email</label>
				<input type="email" class="form-control" id="email" placeholder="tu@ejemplo.com" name="email" #email="ngModel" [(ngModel)]="doctor.email" required>
				<div class="invalid-feedback">
				  Por favor, introduce un email correcto.
				</div>
			  </div>
			</div>

			<h4 class="mb-2" style="margin-top: 3%;">Datos dirección</h4>
			<hr class="my-4">
			<div class="row g-3">
				<div class="col-6">
					<label for="address" class="form-label">Dirección</label>
					<input type="text" class="form-control" id="address" placeholder="23 4ºA C/Tecnicismo" name="address" #address="ngModel" [(ngModel)]="doctor.address" required>
					<div class="invalid-feedback">
					Por favor, introduce una dirección correcta.
					</div>
				</div>

				<div class="col-6">
					<label for="address" class="form-label">Localidad</label>
					<input type="text" class="form-control" id="location" placeholder="Salamanca" name="location" #location="ngModel" [(ngModel)]="doctor.location" required>
					<div class="invalid-feedback">
					Por favor, introduce una localidad correcta.
					</div>
				</div>
			</div>

			<h4 class="mb-2" style="margin-top: 3%;">Datos profesionales</h4>
			  <hr class="my-4">
			  <div class="row g-3">
			  <div class="col-md-5">
				<label for="country" class="form-label">Aseguradora</label>
				<select class="form-select" id="country" required>
				  	<option value="">Seleccionar...</option>
				  	<option >Sin aseguradora</option>
		        	<option >DKV</option>
					<option >MAPFRE</option>
					<option >ASISA</option>
					<option >Otra aseguradora</option>
				</select>
				<div class="invalid-feedback">
				  Por favor, introduce una aseguradora correcta.
				</div>
			  </div>
  
			  <div class="col-md-4">
				<label for="state" class="form-label">Curriculum</label>
				<input type="file" class="custom-file-input" id="inputGroupFile02" name="curriculum" #curriculum="ngModel" [(ngModel)]="doctor.curriculum">
				<div class="invalid-feedback">
					Por favor,introduce un curriculum correcto.
				</div>
			  </div>
			  </div>
			<hr class="my-4">
  
			<div class="form-check">
			  <input type="checkbox" class="form-check-input" id="same-address">
			  <label class="form-check-label" for="same-address">Acepto los términos y condiciones.</label>
			</div>
  
			<div class="form-check">
			  <input type="checkbox" class="form-check-input" id="save-info">
			  <label class="form-check-label" for="save-info">Quiero recibir información a mi email sobre las noticias de Find Your Doctor.</label>
			</div>
  
			<hr class="my-4">
  
			<button class="w-100 btn btn-primary btn-lg" type="submit">Registrarse</button>
		  </form>
		</div>
	  </div>

  </div>

<!-- Registrarse Paciente -->
<div class="container" id="containerRegPat">
	<div class="py-5 text-center">
	  <h2>{{title4}}</h2>
	  <p class="lead">Ingresa los datos que se solicitan a continuación para crear una cuenta como Paciente.</p>
	</div>

	<div class="row g-5">
	  
	  <div class=" ">
		<h4 class="mb-3">Datos personales</h4>
		<hr class="my-4">
		<form class="needs-validation" novalidate #RegPForm ="ngForm" (ngSubmit)="onSubmitRegP(RegPForm)">
		  <div class="row g-3">
			<div class="col-sm-6">
			  <label for="firstName" class="form-label">Nombre</label>
			  <input type="text" class="form-control" id="firstName" placeholder="" value="" name="name" #name="ngModel" [(ngModel)]="patient.name"required>
			  <div class="invalid-feedback">
				El nombre es obligatorio.
			  </div>
			</div>

			<div class="col-sm-6">
			  <label for="lastName" class="form-label">Apellidos</label>
			  <input type="text" class="form-control" id="lastName" placeholder="" value="" name="surname" #surname="ngModel" [(ngModel)]="patient.surname" required>
			  <div class="invalid-feedback">
				Los apellidos son obligatorios.
			  </div>
			</div>

			<div class="col-sm-6">
			  <label for="username" class="form-label">Usuario</label>
			  <div class="input-group has-validation">
				<span class="input-group-text">@</span>
				<input type="text" class="form-control" id="username" placeholder="Usuario" name="user" #user="ngModel" [(ngModel)]="patient.user" required>
			  <div class="invalid-feedback">
				  El usuario es obligatorio.
				</div>
			  </div>
			</div>

			<div class="col-sm-6">
			  <label for="password" class="form-label">Contraseña</label>
			  <div class="input-group has-validation">
				<input type="password" class="form-control" id="password" placeholder="" name="password" #password="ngModel" [(ngModel)]="patient.password" required>
			  <div class="invalid-feedback">
				  La contraseña es obligatoria.
				</div>
			  </div>
			</div>

			<div class="col-12">
			  <label for="email" class="form-label">Email</label>
			  <input type="email" class="form-control" id="email" placeholder="tu@ejemplo.com" name="email" #email="ngModel" [(ngModel)]="patient.email" required>
			  <div class="invalid-feedback">
				Por favor, introduce un email correcto.
			  </div>
			</div>
		  </div>

		  <h4 class="mb-2" style="margin-top: 3%;">Datos dirección</h4>
		  <hr class="my-4">
		  <div class="row g-3">
			  <div class="col-6">
				  <label for="address" class="form-label">Dirección</label>
				  <input type="text" class="form-control" id="address" placeholder="23 4ºA C/Tecnicismo" name="address" #address="ngModel" [(ngModel)]="patient.address" required>
				  <div class="invalid-feedback">
				  Por favor, introduce una dirección correcta.
				  </div>
			  </div>

			  <div class="col-6">
				  <label for="address" class="form-label">Localidad</label>
				  <input type="text" class="form-control" id="location" placeholder="Salamanca" name="location" #location="ngModel" [(ngModel)]="patient.location" required>
				  <div class="invalid-feedback">
				  Por favor, introduce una localidad correcta.
				  </div>
			  </div>
		  </div>

		  <h4 class="mb-2" style="margin-top: 3%;">Datos profesionales</h4>
			<hr class="my-4">
			<div class="row g-3">
			<div class="col-md-5">
			  <label for="country" class="form-label">Aseguradora</label>
			  <select class="form-select" id="country" required>
					<option value="">Seleccionar...</option>
					<option >Sin aseguradora</option>
				  <option >DKV</option>
				  <option >MAPFRE</option>
				  <option >ASISA</option>
				  <option >Otra aseguradora</option>
			  </select>
			  <div class="invalid-feedback">
				Por favor, introduce una aseguradora correcta.
			  </div>
			</div>
			</div>
		  <hr class="my-4">

		  <div class="form-check">
			<input type="checkbox" class="form-check-input" id="same-address">
			<label class="form-check-label" for="same-address">Acepto los términos y condiciones.</label>
		  </div>

		  <div class="form-check">
			<input type="checkbox" class="form-check-input" id="save-info">
			<label class="form-check-label" for="save-info">Quiero recibir información a mi email sobre las noticias de Find Your Doctor.</label>
		  </div>

		  <hr class="my-4">

		  <button class="w-100 btn btn-primary btn-lg" type="submit">Registrarse</button>
		</form>
	  </div>
	</div>

</div>
