<div class="container" id="containerRegPat">
	<div class="py-5 text-center">
	  <h2>Vas a dar tu opinion sobre el doctor <b>{{doctor.name}} {{doctor.surname}}</b></h2>
	  <p class="lead">Ingresa los datos que se solicitan a continuación para pedir cita con el doctor</p>
	</div>

	<div class="row g-5">
	  
	  <div class=" ">
		<h4 class="mb-2" style="margin-top: 3%;">Opinión y valoración</h4>
		<hr class="my-4">
        <form [formGroup]="form"  (ngSubmit)="onSubmit()">
        <div class="row g-3">
            <div class="col-sm-12 form-group">
                <label for="comentario" class="form-label">Comentario</label>
                <input type="text" formControlName="comentario" class="form-control"  placeholder="" [ngClass]="{ 'is-invalid': submitted && f.comentario.errors }" />
                <div *ngIf="submitted && f.comentario.errors" class="invalid-feedback">
                    <div *ngIf="f.comentario.errors.required">El comentario es obligatorio.</div>
                </div>
            </div>
        
            <div class="col-12">
                <label for="valoracion" class="form-label">Valoración</label>
            </div>

            <div class="col-12 form-group">
                <ngb-rating max=5 formControlName="valoracion" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.valoracion.errors }"></ngb-rating>
                <div *ngIf="submitted && f.valoracion.errors" class="invalid-feedback">
                    <div *ngIf="f.valoracion.errors.required">La valoración es obligatoria.</div>
                </div>
            </div>
                
            
        </div>
		<br>
        <div class="row justify-content-md-center form-group">
            <div class="col-md-1"><a class="btn btn-primary" [routerLink]="['/dar-opinion']">Volver</a></div>
            <div class="col-md-1"><button  class="btn btn-primary" type="submit">Enviar</button></div>
        </div>
        </form>
	  </div>
    
	</div>

</div>