<div class="container">
    <div class="py-5 text-center">
        <h2>Búsqueda parametrizable</h2>
        <hr class="my-4">
    <div class="row">
      <div class="col-sm-3 form-group">
          <input type="text" class="form-control" name="filterDoctorNombre" placeholder="Nombre..." [(ngModel)]="filterDoctorNombre">
        </div>
        <div class="col-sm-3 form-group">
          <input type="text" class="form-control" name="filterDoctorEspecialidad" placeholder="Especialidad..." [(ngModel)]="filterDoctorEspecialidad">
        </div>
          <!--<input type="text" class="form-control" name="filterDoctorPrecioConsulta" placeholder="Especialidad..." [(ngModel)]="filterDoctorPrecioConsulta">-->
        <div class="col-sm-3 form-group">
          <input type="text" class="form-control" name="filterDoctorComunidad" placeholder="Comunidad..." [(ngModel)]="filterDoctorComunidad">
        </div>
        <div class="col-sm-3 form-group">
          <input type="text" class="form-control" name="filterDoctorProvincia" placeholder="Provincia..." [(ngModel)]="filterDoctorProvincia">
        </div>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Especialidad</th>
              <th>Comunidad Autónoma</th>
              <th>Provincia</th>
              
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let doctor of doctors | filtroNombre:filterDoctorNombre 
                                              | filtroEspecialidad:filterDoctorEspecialidad 
                                              
                                              | filtroComunidad:filterDoctorComunidad
                                              | filtroProvincia:filterDoctorProvincia">
              <td>{{doctor.name}} {{doctor.surname}}</td>
              <td>{{doctor.especialidad}}</td>
              <td>{{doctor.comunidad}}</td>
              <td>{{doctor.province}}</td>
              
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  </div>
