<div class="container">
	<h2>{{title}}</h2>

	<form>
		<p>
			<label for="email">Email</label>
			<input type="email" name="email" placeholder="ejemplo@email.com" />
		</p>
		<p>
			<label for="subject">Asunto</label>
			<input type="text" name="subject" placeholder=" Asunto"/>
		</p>
		<p>
			<label for="message">Mensaje</label>
			<textarea name="message" placeholder="Escribe aqui tu mensaje">
			</textarea>
		</p>
		<input type="submit" value ="Enviar"/>
	</form>	
</div>
  <form>
    <img class="mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
  </form>