<div class="container">
    <h4 class="mb-3">{{title}}</h4>
    <hr class="my-4">
  <form [formGroup]="form" (ngSubmit)="onSubmitSendEmail()">
    <div class="form-row g-3">
      <div class="col-12">
        <div class="form-group">
          <label for="email" class="form-label">Email</label>
          <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="tu@ejemplo.com" >
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">El email es obligatorio</div>
          </div>
      </div>
      </div>

      <div class="col-12">
        <div class="form-group">
          <label for="subject" class="form-label">Asunto</label>
          <input type="text" formControlName="subject" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.subject.errors }" placeholder="Asunto" >
          <div *ngIf="submitted && f.subject.errors" class="invalid-feedback">
            <div *ngIf="f.subject.errors.required">El asunto es obligatorio</div>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="form-group">
        <label for="message" class="form-label">Mensaje</label>
        <textarea formControlName="message" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.message.errors }" placeholder="Escribe aqui tu mensaje..."  ></textarea>
        <div *ngIf="submitted && f.message.errors" class="invalid-feedback">
          <div *ngIf="f.message.errors.required">El mensaje es obligatorio.</div>
        </div>
      </div>
      </div>
    </div>

    

    <hr class="my-4">

    <button class="w-100 btn btn-primary btn-lg" type="submit">Enviar</button>
  </form>
</div>