<div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" >
        <div class="col" *ngFor="let doctor of doctors">
          <div class="card shadow-sm">
            <img  src="assets/img/perfil1.png" width="100%" height="225">
            <div class="card-body">
              <h2>{{doctor.name}} {{doctor.surname}}</h2>
              <p class="card-text"><b>Especialidad médica:</b> Medicina General</p>
              <p class="card-text"><b>Aseguradora:</b> {{doctor.insurance}}</p>
              <p class="card-text"><b>Email:</b> {{doctor.email}}</p>
              <p class="card-text"><b>Dirección:</b>{{doctor.address}},{{doctor.location}}</p>

              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm  btn-outline-primary" [routerLink]="['/doctor', doctor._id]">Ver ficha</button>
                  <button *ngIf="userAuthenticationService.loggedIn()=='patientLogged'"type="button" class="btn btn-sm  btn-outline-primary" [routerLink]="['/pedir-cita']">Pedir cita</button>
                </div>
                <small class="text-muted">{{doctor.numOpiniones}} opiniones</small>
              </div>
            </div>
          </div>
        </div>
        </div>
    </div>
  </div>
