<div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" >
        <div class="col" *ngFor="let doctor of doctors">
          <div class="card shadow-sm">
            <img  src="assets/img/perfil1.png" width="100%" height="225">
            <div class="card-body">
              <h2>{{doctor.name}} {{doctor.surname}}</h2>
              <p class="card-text"><b>Especialidad médica:</b> Medicina General</p>
              <p class="card-text"><b>Aseguradora:</b> {{doctor.insurance}}</p>
              <p class="card-text"><b>Email:</b> {{doctor.email}}</p>
              <p class="card-text"><b>Dirección:</b>{{doctor.address}},{{doctor.location}}</p>

              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm  btn-outline-primary" [routerLink]="['/doctor', doctor._id]">Ver ficha</button>
                  <button type="button" class="btn btn-sm  btn-outline-primary">Pedir cita</button>
                </div>
                <small class="text-muted">{{doctor.numOpiniones}} opiniones</small>
              </div>
            </div>
          </div>
        </div>
        </div>
        <!--
        <div class="col">
          <div class="card shadow-sm">
            <img src="assets/img/perfil2.png" width="100%" height="225">
            <div class="card-body">
              <h2>Maria Luisa Sánchez</h2>
              <p class="card-text"><b>Especialidad médica:</b> Ginecología</p>
              <p class="card-text"><b>Aseguradora:</b>DKV</p>
              <p class="card-text"><b>Email:</b> mluisasanc@gmail.com</p>
              <p class="card-text"><b>Dirección:</b>C/Mirador de Álava 1,Salamanca</p>

              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm  btn-outline-primary">Ver ficha</button>
                  <button type="button" class="btn btn-sm  btn-outline-primary">Pedir cita</button>
                </div>
                <small class="text-muted">30 opiniones</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="assets/img/perfil1.png" width="100%" height="225">
            <div class="card-body">
              <h2>Lucas Cristobal Mendez</h2>
              <p class="card-text"><b>Especialidad médica:</b> Pediatría</p>
              <p class="card-text"><b>Aseguradora:</b> MAPFRE</p>
              <p class="card-text"><b>Email:</b> lucrism@gmail.com</p>
              <p class="card-text"><b>Dirección:</b>C/Fan 25,Salamanca</p>

              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm  btn-outline-primary">Ver ficha</button>
                  <button type="button" class="btn btn-sm  btn-outline-primary">Pedir cita</button>
                </div>
                <small class="text-muted">30 opiniones</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="assets/img/perfil2.png" width="100%" height="225">
            <div class="card-body">
              <h2>Carla Montero Ibáñez</h2>
              <p class="card-text"><b>Especialidad médica:</b> Cardiología</p>
              <p class="card-text"><b>Aseguradora:</b> Sin Aseguradora</p>
              <p class="card-text"><b>Email:</b> carlami@gmail.com</p>
              <p class="card-text"><b>Dirección:</b>C/Castañeda 13,Salamanca</p>

              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm  btn-outline-primary">Ver ficha</button>
                  <button type="button" class="btn btn-sm  btn-outline-primary">Pedir cita</button>
                </div>
                <small class="text-muted">11 opiniones</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="assets/img/perfil1.png" width="100%" height="225">
            <div class="card-body">
              <h2>Pedro Matías Galeo</h2>
              <p class="card-text"><b>Especialidad médica:</b> Dermatología</p>
              <p class="card-text"><b>Aseguradora:</b> MAPFRE</p>
              <p class="card-text"><b>Email:</b> pmg1@gmail.com</p>
              <p class="card-text"><b>Dirección:</b>C/Crespo Rascón 24,Salamanca</p>

              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm  btn-outline-primary">Ver ficha</button>
                  <button type="button" class="btn btn-sm  btn-outline-primary">Pedir cita</button>
                </div>
                <small class="text-muted">23 opiniones</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="assets/img/perfil2.png" width="100%" height="225">
            <div class="card-body">
              <h2>Lucía Abrigado Regalado</h2>
              <p class="card-text"><b>Especialidad médica:</b> Urología</p>
              <p class="card-text"><b>Aseguradora:</b> DKV</p>
              <p class="card-text"><b>Email:</b> lucabrg@gmail.com</p>
              <p class="card-text"><b>Dirección:</b>C/Crespo Rascón 24,Salamanca</p>

              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm  btn-outline-primary">Ver ficha</button>
                  <button type="button" class="btn btn-sm  btn-outline-primary">Pedir cita</button>
                </div>
                <small class="text-muted">28 opiniones</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    -->
    </div>
  </div>
