<div class="container">
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Paciente</th>
            <th scope="col">Comentario</th>
            <th scope="col">Valoración</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let opinion of opinionsDoctor">
            <th scope="row">{{opinion.nombre_patient}}</th>
            <td>{{opinion.comentario}}</td>
            <td>{{opinion.valoracion}} / 5</td>
        </tr>
        </tbody>
    </table>
</div>
