<!--Botonera-->
<div class="container" id="botonera">
	<h2>{{title}}</h2>
	<form>
		<button id="button_doc" >Medico</button>
		<button id="button_pat" >Paciente</button>
	</form>
</div>
<!-- Iniciar sesion Medico -->
<div class="container" id="containerInDoc"  >
	<h2>{{title2}}</h2>

	<form #InDForm ="ngForm" (ngSubmit)="onSubmitInD(InDForm)" >
		<p>
			<label for="user">Usuario</label>
			<input type="text" name="user" #user="ngModel" [(ngModel)]="doctor._user" placeholder="medico123" required />
		</p>
		<p>
			<label for="subject">Contraseña</label>
			<input type="password" name="password" #password="ngModel" [(ngModel)]="doctor._password" placeholder="**********" required/>
			<span></span>
		</p>
		<p id="forgot">¿Olvidaste tu contraseña?</p>
		<input type="submit" value ="Iniciar sesión"/>
		<p id="no_accD">¿Aún no estas registrado? <b style="cursor:pointer">Registrate aqui</b></p>
	</form>	
</div>

<!-- Iniciar sesion Paciente -->
<div class="container" id="containerInPat" >
	<h2>{{title2}}</h2>

	<form #InPForm ="ngForm" (ngSubmit)="onSubmitInP(InPForm)"  >
		<p>
			<label for="user">Usuario</label>
			<input type="text" name="user" #user="ngModel" [(ngModel)]="patient._user" placeholder="paciente123" required />
		</p>
		<p>
			<label for="subject">Contraseña</label>
			<input type="password" name="password" #password="ngModel" [(ngModel)]="patient._password" placeholder="**********" required/>
			<span></span>
		</p>
		<p id="forgot">¿Olvidaste tu contraseña?</p>
		<input type="submit" value ="Iniciar sesión"/>
		<p id="no_accP">¿Aún no estas registrado? <b style="cursor:pointer">Registrate aqui</b></p>
	</form>	
</div>

<!-- Registrar Medico -->
<div class="container" id="containerRegDoc" >
	<h2>{{title3}}</h2>
	<form #RegDForm ="ngForm" (ngSubmit)="onSubmitRegD(RegDForm)" >
		<p>
			<label for="name">Nombre</label>
			<input type="text" name="name" #name="ngModel" [(ngModel)]="doctor._name"  required />
			<span class="form_error" *ngIf="name.touched && !name.valid">
				*El nombre es obligatorio
			</span>
		</p>
		<p>
			<label for="surname">Apellidos</label>
			<input type="text" name="surname" #surname="ngModel" [(ngModel)]="doctor._surname"  required />
			<span class="form_error" *ngIf="surname.touched && !surname.valid">
				*Los apellidos son obligatorios
			</span>
		</p>
		<p>
			<label for="user">Usuario</label>
			<input type="text" name="user" #user="ngModel" [(ngModel)]="doctor._user"  required />
			<span class="form_error" *ngIf="user.touched && !user.valid">
				*El nombre de usuario es obligatorio
			</span>
		</p>
		<p>
			<label for="email">Email</label>
			<input type="email" name="email" #email="ngModel" [(ngModel)]="doctor._email"  required />
			<span class="form_error" *ngIf="email.touched && !email.valid">
				*El email no es valido
			</span>
		</p>
		<p>
			<label for="subject">Contraseña</label>
			<input type="password" name="password" #password="ngModel" [(ngModel)]="doctor._password" required/>
			<span class="form_error" *ngIf="password.touched && !password.valid">
				*La contraseña es obligatoria
			</span>
		</p>
		<p>
			<label for="location">Localidad</label>
			<input type="text" name="location" #location="ngModel" [(ngModel)]="doctor._location"  required />
			<span class="form_error" *ngIf="location.touched && !location.valid">
				*La localidad es obligatoria
			</span>
		</p>
		<p>
			<label for="address">Dirección</label>
			<input type="text" name="address" #address="ngModel" [(ngModel)]="doctor._address"  required />
			<span class="form_error" *ngIf="address.touched && !address.valid">
				*La dirección es obligatoria
			</span>
		</p>
		<p>
			<label for="curriculum">Curriculum</label>
			<input type="file" name="curriculum" #curriculum="ngModel" [(ngModel)]="doctor._curriculum"  required />
			
		</p>
		<p>
			<label for="aseguradora">Aseguradora</label>
			<select>
		        <option value="1">Sin aseguradora</option>
		        <option value="2">DKV</option>
		        <option value="3">MAPFRE</option>
		        <option value="4">ASISA</option>
		        <option value="5">Otra aseguradora</option>
	         </select>
     	</p>
     	<input type="submit" value ="Registrarse"/>
	</form>
</div>
<!-- Registrar Paciente -->
<div class="container" id="containerRegPat" >
	<h2>{{title4}}</h2>
	<form #RegPForm ="ngForm" (ngSubmit)="onSubmitRegP(RegPForm)" >
		<p>
			<label for="name">Nombre</label>
			<input type="text" name="name" #name="ngModel" [(ngModel)]="patient._name"  required />
		</p>
		<p>
			<label for="surname">Apellidos</label>
			<input type="text" name="surname" #surname="ngModel" [(ngModel)]="patient._surname"  required />
		</p>
		<p>
			<label for="user">Usuario</label>
			<input type="text" name="user" #user="ngModel" [(ngModel)]="patient._user"  required />
		</p>
		<p>
			<label for="email">Email</label>
			<input type="email" name="email" #email="ngModel" [(ngModel)]="patient._email"  required />
		</p>
		<p>
			<label for="subject">Contraseña</label>
			<input type="password" name="password" #password="ngModel" [(ngModel)]="patient._password" required/>
			<span></span>
		</p>
		<p>
			<label for="location">Localidad</label>
			<input type="text" name="location" #location="ngModel" [(ngModel)]="patient._location"  required />
		</p>
		<p>
			<label for="address">Dirección</label>
			<input type="text" name="address" #address="ngModel" [(ngModel)]="patient._address"  required />
		</p>
		<p>
			<label for="aseguradora">Aseguradora</label>
			<select>
		        <option value="1">Sin aseguradora</option>
		        <option value="2">DKV</option>
		        <option value="3">MAPFRE</option>
		        <option value="4">ASISA</option>
		        <option value="5">Otra aseguradora</option>
	         </select>
     	</p>
     	<input type="submit" value ="Registrarse"/>
	</form>
</div>