<div class="container col-xxl-8 px-4 py-5">
	<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
	  <div class="col-10 col-sm-8 col-lg-6">
		<img src="assets/img/bootstrap-themes.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
	  </div>
	  <div class="col-lg-6">
		<h1 class="display-5 fw-bold lh-1 mb-3">{{title}}</h1>
		<p class="lead">Somos una empresa que desarrolla una aplicación web que ayuda a los usuarios a encontrar el profesional del ámbito médico que se adapte mejor a sus necesidades y requerimientos. Permite a los usuarios dar su opinión sobre cada profesional , gestión de citas, búsquedas parametrizables, encontrar el profesional filtrando por cercanía.</p>
		<div class="d-grid gap-2 d-md-flex justify-content-md-start">
		  <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button>
		  <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
		</div>
	  </div>
	</div>
  </div>