<div id="title">
	<h1>{{title}}</h1>
	<h2>{{subtitle}}</h2>
	<p>{{email}}</p>
</div>

<article class="about">
	<h2>Sobre nosotros</h2>
	<p>Somos una empresa que desarrolla una aplicación web que ayuda a los usuarios a encontrar el profesional del ámbito médico que se adapte mejor a sus necesidades y requerimientos. Permite a los usuarios dar su opinión sobre cada profesional , gestión de citas, búsquedas parametrizables, encontrar el profesional filtrando por cercanía.
	</p>
	<h2>Objetivos funcionales</h2>
	<p>Gestión de usuarios</p>
	<p>Búsquedas de profesionales</p>
	<p>Gestión de citas</p>
	<p>Gestión de comentarios</p>
	<p>Gestión de curriculums</p>
</article>
