<!--Doctor-->
<div class="container" *ngIf="doctor">
	<div class="py-5 text-center">
	<h2>Modificar Doctor</h2>
	</div>
  
	<div class="row g-5">
		<div class=" ">
			<h4 class="mb-3">Datos personales</h4>
			<hr class="my-4">
			<form [formGroup]="formD"  (ngSubmit)="onSubmitD()">
			
				<div class="row g-3">
					<div class="col-sm-6 form-group">
						<label for="name" class="form-label">Nombre</label>
						<input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submittedD && fD.name.errors }" [(ngModel)]="doctor.name" />
                        <div *ngIf="submittedD && fD.name.errors" class="invalid-feedback">
							<div *ngIf="fD.name.errors.required">El nombre es obligatorio.</div>
						</div>
					</div>
				
					<div class="col-sm-6 form-group">
						<label for="surname" class="form-label">Apellidos</label>
						<input type="text" formControlName="surname" class="form-control" [ngClass]="{ 'is-invalid': submittedD && fD.surname.errors }" [(ngModel)]="doctor.surname" />
						<div *ngIf="submittedD && fD.surname.errors" class="invalid-feedback">
							<div *ngIf="fD.surname.errors.required">Los apellidos son obligatorios.</div>
						</div>
					</div>
				
					<div class="col-sm-6 form-group">
						<label for="user" class="form-label">Usuario</label>
						<div class="input-group">
						<span class="input-group-text">@</span>
						<input type="text" formControlName="user" class="form-control" [ngClass]="{ 'is-invalid': submittedD && fD.user.errors }" [(ngModel)]="doctor.user"/>
						<div *ngIf="submittedD && fD.user.errors" class="invalid-feedback">
							<div *ngIf="fD.user.errors.required">El usuario es obligatorio.</div>
						</div>
						</div>
					</div>


					<div class="col-sm-6 form-group">
						<label for="password" class="form-label">Contraseña</label>
						<div class="input-group">
							<input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submittedD && fD.password.errors }" [(ngModel)]="doctor.password"/>
							<div *ngIf="submittedD && fD.password.errors" class="invalid-feedback">
								<div *ngIf="fD.password.errors.required">La contraseña es obligatoria.</div>
							</div>
						</div>
					</div>
					<div class="col-12 form-group">
						<label for="email" class="form-label">Email</label>
						<input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submittedD && fD.email.errors }" [(ngModel)]="doctor.email"/>
						<div *ngIf="submittedD && fD.email.errors" class="invalid-feedback">
							<div *ngIf="fD.email.errors.required">El email es obligatorio</div>
							<div *ngIf="fD.email.errors.pattern">El email es incorrecto</div>
						</div>
					</div>
				</div>

			<h4 class="mb-2" style="margin-top: 3%;">Datos dirección</h4>
			<hr class="my-4">
			<div class="row g-3">

				<div class="col-6 form-group">
					<label for="province" class="form-label">Provincia</label>
					<input type="text" formControlName="province" class="form-control"[ngClass]="{ 'is-invalid': submittedD && fD.province.errors }" [(ngModel)]="doctor.province"/>
					<div *ngIf="submittedD && fD.province.errors"class="invalid-feedback">
						<div *ngIf="fD.province.errors.required">La provincia es obligatoria.</div>
					</div>
				</div>

				<div class="col-6 form-group">
					<label for="comunidad" class="form-label">Comunidad Autónoma</label>
					<input type="text" formControlName="comunidad" class="form-control" [ngClass]="{ 'is-invalid': submittedD && fD.comunidad.errors }" [(ngModel)]="doctor.comunidad"/>
					<div *ngIf="submittedD && fD.comunidad.errors"class="invalid-feedback">
						<div *ngIf="fD.comunidad.errors.required">La comunidad es obligatoria.</div>
					</div>
				</div>
			
				<div class="col-6 form-group">
					<label for="address" class="form-label">Dirección</label>
					<input type="text" formControlName="address" class="form-control" [ngClass]="{ 'is-invalid': submittedD && fD.address.errors }" [(ngModel)]="doctor.address"/>
					<div *ngIf="submittedD && fD.address.errors" class="invalid-feedback">
						<div *ngIf="fD.address.errors.required">La dirección es obligatoria.</div>
					</div>
				</div>
				<div class="col-6 form-group">
					<label for="cp" class="form-label">Codigo Postal</label>
					<input type="text" formControlName="cp" class="form-control"  maxlength = "5" [ngClass]="{ 'is-invalid': submittedD && fD.cp.errors }" [(ngModel)]="doctor.cp"/>
					<div *ngIf="submittedD && fD.cp.errors" class="invalid-feedback">
						<div *ngIf="fD.cp.errors.required">El codigo postal es obligatorio.</div>
						<div *ngIf="fD.cp.errors.pattern">El codigo postal es incorrecto.</div>
					</div>
				</div>
			</div>

			<h4 class="mb-2" style="margin-top: 3%;">Datos profesionales</h4>
				<hr class="my-4">
					<div class="row g-3">
						<div class="col-md-6 form-group">
							<label for="numColegiado" class="form-label">Nº Colegiado</label>
							<input type="text" formControlName="numColegiado" class="form-control"  maxlength = "9" [ngClass]="{ 'is-invalid': submittedD && fD.numColegiado.errors }" [(ngModel)]="doctor.numColegiado"/>
							<div *ngIf="submittedD && fD.numColegiado.errors" class="invalid-feedback">
								<div *ngIf="fD.numColegiado.errors.required">El numero de colegiado es obligatorio.</div>
								<div *ngIf="fD.numColegiado.errors.minlength">El numero de colegiado es incorrecto.</div>
							</div>  
						</div>
						<div class="col-md-6 form-group">
							<label for="especialidad" class="form-label">Especialidad</label>
							<input type="text" formControlName="especialidad" class="form-control" [ngClass]="{ 'is-invalid': submittedD && fD.especialidad.errors }" [(ngModel)]="doctor.especialidad"/>
							<div *ngIf="submittedD && fD.especialidad.errors" class="invalid-feedback">
								<div *ngIf="fD.especialidad.errors.required">La especialidad es obligatoria.</div>
							</div>  
						</div>
						<div class="col-md-5 form-group">
							<label for="insurance" class="form-label">Aseguradora</label>
                            <input type="text" formControlName="insurance" class="form-control" [ngClass]="{ 'is-invalid': submittedD && fD.insurance.errors }" [(ngModel)]="doctor.insurance"/>
							<div class="invalid-feedback">
								Por favor, introduce una aseguradora.
							</div>
						</div>

						<div class="col-md-3">
						<label for="cv" class="form-label">Curriculum</label>
						<input type="file">
                        {{doctor.cv}}
						<!--<div class="invalid-feedback">
							Por favor,introduce un curriculum.
						</div>-->
						</div>
				</div>
			<hr class="my-4">
			
            <div class="row justify-content-md-center">
				<div class="col-md-1"><button type="button" class="btn btn-primary" (click)="volver('doctors')">Volver</button></div>
				<div class="col-md-1"><button type="submit" class="btn btn-primary" >Guardar</button></div>
			</div>
			</form>
		</div>
	</div>

  </div>

  <!--Paciente-->
  <div class="container" *ngIf="patient">
	<div class="py-5 text-center">
	  <h2>Modificar Paciente</h2>
	</div>

	<div class="row g-5">
	  
	  <div class=" ">
		<h4 class="mb-3">Datos personales</h4>
		<hr class="my-4">
		<form [formGroup]="formP"  (ngSubmit)="onSubmitP()">
			
			<div class="row g-3">
				<div class="col-sm-6 form-group">
					<label for="name" class="form-label">Nombre</label>
					<input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submittedP && fP.name.errors }" [ngModel]="patient.name"/>
					<div *ngIf="submittedP && fP.name.errors" class="invalid-feedback">
						<div *ngIf="fP.name.errors.required">El nombre es obligatorio.</div>
					</div>
				</div>
			
				<div class="col-sm-6 form-group">
					<label for="surname" class="form-label">Apellidos</label>
					<input type="text" formControlName="surname" class="form-control" [ngClass]="{ 'is-invalid': submittedP && fP.surname.errors }" [ngModel]="patient.surname"/>
					<div *ngIf="submittedP && fP.surname.errors" class="invalid-feedback">
						<div *ngIf="fP.surname.errors.required">Los apellidos son obligatorios.</div>
					</div>
				</div>
			
				<div class="col-sm-6 form-group">
					<label for="user" class="form-label">Usuario</label>
					<div class="input-group">
					<span class="input-group-text">@</span>
					<input type="text" formControlName="user" class="form-control" [ngClass]="{ 'is-invalid': submittedP && fP.user.errors }" [ngModel]="patient.user"/>
					<div *ngIf="submittedP && fP.user.errors" class="invalid-feedback">
						<div *ngIf="fP.user.errors.required">El usuario es obligatorio.</div>
					</div>
					</div>
				</div>


				<div class="col-sm-6 form-group">
					<label for="password" class="form-label">Contraseña</label>
					<div class="input-group">
						<input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submittedP && fP.password.errors }" [ngModel]="patient.password"/>
						<div *ngIf="submittedP && fP.password.errors" class="invalid-feedback">
							<div *ngIf="fP.password.errors.required">La contraseña es obligatoria.</div>
						</div>
					</div>
				</div>
				<div class="col-12 form-group">
					<label for="email" class="form-label">Email</label>
					<input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submittedP && fP.email.errors }" [(ngModel)]="patient.email"/>
					<div *ngIf="submittedP && fP.email.errors" class="invalid-feedback">
						<div *ngIf="fP.email.errors.required">El email es obligatorio</div>
						<div *ngIf="fP.email.errors.pattern">El email es incorrecto</div>
					</div>
				</div>


			</div>

		<h4 class="mb-2" style="margin-top: 3%;">Datos dirección</h4>
		<hr class="my-4">
		<div class="row g-3">

			<div class="col-6 form-group">
				<label for="province" class="form-label">Provincia</label>
				<input type="text" formControlName="province" class="form-control" [ngClass]="{ 'is-invalid': submittedP && fP.province.errors }" [ngModel]="patient.province"/>
				<div *ngIf="submittedP && fP.province.errors"class="invalid-feedback">
					<div *ngIf="fP.province.errors.required">La provincia es obligatoria.</div>
				</div>
			</div>

			<div class="col-6 form-group">
				<label for="comunidad" class="form-label">Comunidad Autónoma</label>
				<input type="text" formControlName="comunidad" class="form-control" [ngClass]="{ 'is-invalid': submittedP && fP.comunidad.errors }" [ngModel]="patient.comunidad"/>
				<div *ngIf="submittedP && fP.comunidad.errors"class="invalid-feedback">
					<div *ngIf="fP.comunidad.errors.required">La localidad es obligatoria.</div>
				</div>
			</div>
		
			<div class="col-6 form-group">
				<label for="address" class="form-label">Dirección</label>
				<input type="text" formControlName="address" class="form-control" [ngClass]="{ 'is-invalid': submittedP && fP.address.errors }" [ngModel]="patient.address"/>
				<div *ngIf="submittedP && fP.address.errors" class="invalid-feedback">
					<div *ngIf="fP.address.errors.required">La dirección es obligatoria.</div>
				</div>
			</div>

			<div class="col-6 form-group">
				<label for="cp" class="form-label">Codigo Postal</label>
				<input type="text" formControlName="cp" class="form-control" [ngClass]="{ 'is-invalid': submittedP && fP.cp.errors }" [ngModel]="patient.cp"/>
				<div *ngIf="submittedP && fP.cp.errors" class="invalid-feedback">
					<div *ngIf="fP.cp.errors.required">El codigo postal es obligatorio.</div>
				</div>
			</div>
			<div class="col-12 form-group">
				<label for="insurance" class="form-label">Aseguradora</label>
				<input type="text" formControlName="insurance" class="form-control" [ngClass]="{ 'is-invalid': submittedP && fP.insurance.errors }" [(ngModel)]="patient.insurance"/>
				<div class="invalid-feedback">
					Por favor, introduce una aseguradora.
				</div>
			</div>
		</div>

		  <hr class="my-4">
		  <div class="row justify-content-md-center">
				<div class="col-md-1"><button type="button" class="btn btn-primary" (click)="volver('patients')">Volver</button></div>
				<div class="col-md-1"><button type="submit" class="btn btn-primary" >Guardar</button></div>
		</div>
		</form>
	  </div>
	</div>

</div>
<!--Cita-->
<div class="container" *ngIf="cita">
<div class="row g-5">
	  
    <div class=" ">
      <br>
      <div class="py-5 text-center">
		<h2>Modificar Cita</h2>
	  </div>
      <form [formGroup]="formC"  (ngSubmit)="onSubmitC()">
          
          <div class="row g-3">
              <div class="col-sm-6 form-group">
                  <label for="asunto" class="form-label">Asunto</label>
                  <input type="text" formControlName="asunto" class="form-control" [ngClass]="{ 'is-invalid': submittedC && fC.asunto.errors }" [ngModel]="cita.asunto" />
                  <div *ngIf="submittedC && fC.asunto.errors" class="invalid-feedback">
                      <div *ngIf="fC.asunto.errors.required">El asunto es obligatorio.</div>
                  </div>
              </div>
          
              <div class="col-sm-6 form-group">
                  <label for="descripcion" class="form-label">Descripcion</label>
                  <input type="text" formControlName="descripcion" class="form-control"  placeholder="Descripcion" [ngClass]="{ 'is-invalid': submittedC && fC.descripcion.errors }" [ngModel]="cita.descripcion" />
                  <div *ngIf="submittedC && fC.descripcion.errors" class="invalid-feedback">
                      <div *ngIf="fC.descripcion.errors.required">La descripcion es obligatoria.</div>
                  </div>
              </div>
          
              <div class="col-sm-6 form-group">
                  <label for="fecha" class="form-label">Fecha</label>
                  <input type="date" formControlName="fecha" class="form-control"  min="01-01-1940" max="01-01-2003" [ngClass]="{ 'is-invalid': submittedC && fC.fecha.errors }" [ngModel]="cita.fecha"/>
                  <div *ngIf="submittedC && fC.fecha.errors" class="invalid-feedback">
                      <div *ngIf="fC.fecha.errors.required">La fecha es obligatoria</div>
                  </div>
              </div>

              <div class="col-sm-6 form-group">
                  <label for="hora" class="form-label">Hora</label>
                  <div class="input-group">
                      <input type="time" formControlName="hora" class="form-control" min="09:00" max="18:00" [ngClass]="{ 'is-invalid': submittedC && fC.hora.errors }" [ngModel]="cita.hora"/>
                      <div *ngIf="submittedC && fC.hora.errors" class="invalid-feedback">
                          <div *ngIf="fC.hora.errors.required">La hora es obligatoria.</div>
                      </div>
                  </div>
              </div>

              <!--<div class="col-12 form-group">
                  <label for="telefono" class="form-label">Telefono (Opcional)</label>
                  <input type="text"  maxlength = "9" formControlName="telefono" class="form-control" [ngClass]="{ 'is-invalid': submitted && fC.telefono.errors }" [ngModel]="patientCita.telefono"/>
                  <div *ngIf="submitted && fC.telefono.errors" class="invalid-feedback">
                      <div *ngIf="fC.telefono.errors.pattern">El telefono no es correcto.</div>
                  </div>
              </div>-->

			  <div class="col-12 form-group" [ngSwitch]="cita.estado">
				<label for="estado" class="form-label">Estado</label>
				<select *ngSwitchCase="'Aceptada'" formControlName="estado" class="form-select form-control" [ngClass]="{ 'is-invalid': submittedC && fC.estado.errors }">
					<option>{{cita.estado}}</option>
					<option>Pendiente</option>
					<option>Rechazada</option>
					<option>Finalizada</option>
				</select>
				<select *ngSwitchCase="'Rechazada'" formControlName="estado" class="form-select form-control" [ngClass]="{ 'is-invalid': submittedC && fC.estado.errors }">
					<option>{{cita.estado}}</option>
					<option>Pendiente</option>
					<option>Aceptada</option>
					<option>Finalizada</option>
				</select>
				<select *ngSwitchCase="'Finalizada'" formControlName="estado" class="form-select form-control" [ngClass]="{ 'is-invalid': submittedC && fC.estado.errors }">
					<option>{{cita.estado}}</option>
					<option>Pendiente</option>
					<option>Aceptada</option>
					<option>Rechazada</option>
				</select>
				<select *ngSwitchCase="'Pendiente'" formControlName="estado" class="form-select form-control" [ngClass]="{ 'is-invalid': submittedC && fC.estado.errors }">
					<option>{{cita.estado}}</option>
					<option>Finalizada</option>
					<option>Aceptada</option>
					<option>Rechazada</option>
				</select>
					<div *ngIf="submittedC && fC.estado.errors" class="invalid-feedback">
					<div *ngIf="fC.estado.errors.required">El estado es obligatorio.</div>
				</div>
			</div>
          </div>
          
          <br>
        <div class="form-group">
			<div class="row justify-content-md-center form-group">
				<div class="col-md-1"><a class="btn btn-primary" (click)="volver('citas')">Volver</a></div>
				<div class="col-md-1"><button  class="btn btn-primary" type="submit">Guardar</button></div>
			</div>
          </div>
      </form>
    </div>
  </div>
  </div>

<!--Opinion-->
<div class="container" *ngIf="opinion">
<div class="row g-5">
	  
    <div>
		<div class="py-5 text-center">
      <h2>Modificar Opinión</h2>
		</div>
      <form [formGroup]="formO"  (ngSubmit)="onSubmitO()">
      <div class="row g-3">
          <div class="col-sm-12 form-group">
              <label for="comentario" class="form-label">Comentario</label>
              <input type="text" formControlName="comentario" class="form-control"  placeholder="" [ngClass]="{ 'is-invalid': submittedH && fO.comentario.errors }"  [ngModel]="opinion.comentario"/>
              <div *ngIf="submittedH && fO.comentario.errors" class="invalid-feedback">
                  <div *ngIf="fO.comentario.errors.required">El comentario es obligatorio.</div>
              </div>
          </div>
      
          <div class="col-12">
              <label for="valoracion" class="form-label">Valoración</label>
          </div>

          <div class="col-12 form-group">
              <ngb-rating max=5 formControlName="valoracion" class="form-control" [ngClass]="{ 'is-invalid': submittedH && fO.valoracion.errors }" [ngModel]="opinion.valoracion"></ngb-rating>
              <div *ngIf="submittedH && fO.valoracion.errors" class="invalid-feedback">
                  <div *ngIf="fO.valoracion.errors.required">La valoración es obligatoria.</div>
              </div>
          </div>
              
          
      </div>
      <br>
      <div class="row justify-content-md-center form-group">
          <div class="col-md-1"><a class="btn btn-primary" (click)="volver('opiniones')">Volver</a></div>
          <div class="col-md-1"><button  class="btn btn-primary" type="submit">Guardar</button></div>
      </div>
      </form>
    </div>
    </div>
  
  </div>
<!--Historial-->
<div class="container" *ngIf="historial">
    <div class="py-5 text-center">
    <h2>Modificar Historial</h2>
    </div>
  
    <div class="row g-5">
        <div class=" ">
            <h4 class="mb-3">Datos personales del paciente</h4>
            <hr class="my-4">
            <form [formGroup]="formH"  (ngSubmit)="onSubmitH()">
            
                <div class="row g-3">
                    <div class="col-sm-6 form-group">
                        <label for="name" class="form-label">Nombre</label>
                        <input type="text" class="form-control" value={{historial.name}} disabled/>
                    </div>

                    <div class="col-sm-6 form-group">
                        <label for="surname" class="form-label">Apellidos</label>
                        <input type="text" class="form-control" value={{historial.surname}} disabled/>
                    </div>

                    <div class="col-sm-6 form-group">
                        <label for="dni_paciente" class="form-label">DNI</label>
                        <input type="text" formControlName="dni_paciente" class="form-control"  [ngClass]="{ 'is-invalid': submittedH && f.dni_paciente.errors }" [ngModel]="historial.dni_paciente"/>
                        <div *ngIf="submittedH && f.dni_paciente.errors" class="invalid-feedback">
                            <div *ngIf="f.dni_paciente.errors.pattern">El dni es incorrecto</div>
                        </div>
                    </div>

                    <div class="col-sm-6 form-group">
                        <label for="edad_paciente" class="form-label">Edad</label>
                        <input type="text" maxlength = "2" formControlName="edad_paciente" class="form-control" [ngModel]="historial.edad_paciente" [ngClass]="{ 'is-invalid': submittedH && f.edad_paciente.errors }"/>
                    </div>

                    <div class="col-12 form-group">
                        <label for="fecha_nacimiento_paciente" class="form-label">Fecha de Nacimiento</label>
                        <input type="date" formControlName="fecha_nacimiento_paciente" class="form-control" [ngModel]="historial.fecha_nacimiento_paciente" min="01-01-1940" max="01-01-2003" [ngClass]="{ 'is-invalid': submittedH && f.fecha_nacimiento_paciente.errors }"/>
                    </div>

                </div>
                <h4 class="mb-2" style="margin-top: 3%;">Datos sanitarios del paciente</h4>
            <hr class="my-4">
            <div class="row g-3">

                <div class="col-6 form-group">
                    <label for="patologias_paciente" class="form-label">Patologías</label>
                    <input type="text" formControlName="patologias_paciente" class="form-control"  [ngModel]="historial.patologias_paciente" [ngClass]="{ 'is-invalid': submittedH && f.patologias_paciente.errors }"/>
                </div>

                <div class="col-6 form-group">
                    <label for="alergias_paciente" class="form-label">Alergias</label>
                    <input type="text" formControlName="alergias_paciente" class="form-control" [ngModel]="historial.alergias_paciente" [ngClass]="{ 'is-invalid': submittedH && f.alergias_paciente.errors }"/>
                </div>
            
                <div class="col-12 form-group">
                    <label for="vacunas_paciente" class="form-label">Vacunas</label>
                    <input type="text" formControlName="vacunas_paciente" class="form-control" [ngModel]="historial.vacunas_paciente" [ngClass]="{ 'is-invalid': submittedH && f.vacunas_paciente.errors }"/>
                </div>
                
                <div class="col-12 form-group">
                    <label for="tratamientos" class="form-label">Tratamientos</label>
                    <input type="text" formControlName="tratamientos" class="form-control" [ngModel]="historial.tratamientos" [ngClass]="{ 'is-invalid': submittedH && f.tratamientos.errors }"/>
                </div>
            </div>

            <hr class="my-4">
            
            <div class="row justify-content-md-center form-group">
                <div class="col-md-1"><a class="btn btn-primary" (click)="volver('historiales')">Volver</a></div>
                <div class="col-md-1"><button  class="btn btn-primary" type="submit">Guardar</button></div>
            </div>
            </form>
        </div>
    </div>

  </div>

  <!--Admin-->
  <div class="container" *ngIf="admin">
	<div class="py-5 text-center">
	  <h2>Datos de la cuenta</h2>
	</div>

	<div class="row g-5">
	  
	  <div class=" ">
		<h4 class="mb-3">Datos personales</h4>
		<hr class="my-4">
		<form [formGroup]="formA"  (ngSubmit)="onSubmitA()">
			
			<div class="row g-3">
				<div class="col-sm-6 form-group">
					<label for="name" class="form-label">Nombre</label>
					<input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submittedA && fA.name.errors }" [(ngModel)]="admin.name"/>
					<div *ngIf="submittedA && fA.name.errors" class="invalid-feedback">
						<div *ngIf="fA.name.errors.required">El nombre es obligatorio.</div>
					</div>
				</div>
			
				<div class="col-sm-6 form-group">
					<label for="surname" class="form-label">Apellidos</label>
					<input type="text" formControlName="surname" class="form-control" [ngClass]="{ 'is-invalid': submittedA && fA.surname.errors }" [(ngModel)]="admin.surname"/>
					<div *ngIf="submittedA && fA.surname.errors" class="invalid-feedback">
						<div *ngIf="fA.surname.errors.required">Los apellidos son obligatorios.</div>
					</div>
				</div>
			
				<div class="col-12 form-group">
					<label for="user" class="form-label">Usuario</label>
					<div class="input-group">
					<span class="input-group-text">@</span>
					<input type="text" formControlName="user" class="form-control" [ngClass]="{ 'is-invalid': submittedA && fA.user.errors }" [(ngModel)]="admin.user"/>
					<div *ngIf="submittedA && fA.user.errors" class="invalid-feedback">
						<div *ngIf="fA.user.errors.required">El usuario es obligatorio.</div>
					</div>
					</div>
				</div> 

				<div class="col-12 form-group">
					<label for="email" class="form-label">Email</label>
					<input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submittedA && fA.email.errors }" [(ngModel)]="admin.email"/>
					<div *ngIf="submittedA && fA.email.errors" class="invalid-feedback">
						<div *ngIf="fA.email.errors.required">El email es obligatorio</div>
					</div>
				</div>
			</div>


		  <br>
			<div class="row justify-content-md-center">
				<div class="col-md-1"><button type="button" class="btn btn-primary" (click)="volver('admins')">Volver</button></div>
				<div class="col-md-1"><button type="submit" class="btn btn-primary" >Guardar</button></div>
			</div>
		</form>
	  </div>
	</div>

</div>