  <!--Carousel-->
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
        

        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Búsquedas parametrizables</h1>
            <p>La aplicación web más sencilla , para que encuentres el profesional a tu gusto.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Buscar</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

        <div class="container">
          <div class="carousel-caption">
            <h1>Gestiona tus citas online</h1>
            <p>Te ofrecemos la posibilidad de solicitar/revisar/cancelar tus citas online.</p>
            <p><a class="btn btn-lg btn-primary" *ngIf="!patientLogged && !doctorLogged;else logged" [routerLink]="['/login']">Vamos!</a></p>
            <ng-template #logged>
              <p><a class="btn btn-lg btn-primary" [routerLink]="['/']">Vamos!</a></p>

            </ng-template>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Sistema de opiniones</h1>
            <p>Da tu opinión sobre un doctor , o si buscas uno consulta las suyas.</p>
            <p><a class="btn btn-lg btn-primary" [routerLink]="['/medicos']">Ver doctores</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!--Buscador-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light" id="buscador">
    <div class="container-fluid">
        <div class="collapse navbar-collapse justify-content-md-center" >
        <form class="d-flex w-50 me-3">
          <input class="form-control me-2" type="search" placeholder="¿En busca del profesional sanitario a tu gusto?" aria-label="Search">
          <button type="button" class="btn btn-outline-primary">Buscar</button>
        </form>
      </div>
    </div>
  </nav>