<div class="container" id="containerRegPat">
	<div class="py-5 text-center">
	  <h2>Pedir cita con el doctor <b>{{doctor.name}} {{doctor.surname}}</b></h2>
	  <p class="lead">Ingresa los datos que se solicitan a continuación para pedir cita con el doctor</p>
	</div>

	<div class="row g-5">
	  
	  <div class=" ">
		<h4 class="mb-2" style="margin-top: 3%;">Datos dirección consulta</h4>
		<hr class="my-4">
		<div class="row g-3">

			<div class="col-6 form-group">
				<label for="province" class="form-label">Provincia</label>
				<input type="text" class="form-control" [(ngModel)]="doctor.province" disabled/>

			</div>

			<div class="col-6 form-group">
				<label for="comunidad" class="form-label">Comunidad Autónoma</label>
				<input type="text" class="form-control" [(ngModel)]="doctor.comunidad" disabled/>
			</div>
		
			<div class="col-6 form-group">
				<label for="address" class="form-label">Dirección</label>
				<input type="text" class="form-control" [(ngModel)]="doctor.address" disabled/>

			</div>

			<div class="col-6 form-group">
				<label for="cp" class="form-label">Codigo Postal</label>
				<input type="text" class="form-control" [(ngModel)]="doctor.cp" disabled/>
			</div>
		</div>
		<br>
		<h4 class="mb-3">Datos cita</h4>
		<hr class="my-4">
		<form [formGroup]="form"  (ngSubmit)="onSubmit()">
			
			<div class="row g-3">
				<div class="col-sm-6 form-group">
					<label for="asunto" class="form-label">Asunto</label>
					<input type="text" formControlName="asunto" class="form-control" placeholder="Asunto" [ngClass]="{ 'is-invalid': submitted && f.asunto.errors }" />
					<div *ngIf="submitted && f.asunto.errors" class="invalid-feedback">
						<div *ngIf="f.asunto.errors.required">El asunto es obligatorio.</div>
					</div>
				</div>
			
				<div class="col-sm-6 form-group">
					<label for="descripcion" class="form-label">Descripcion</label>
					<input type="text" formControlName="descripcion" class="form-control"  placeholder="Descripcion" [ngClass]="{ 'is-invalid': submitted && f.descripcion.errors }" />
					<div *ngIf="submitted && f.descripcion.errors" class="invalid-feedback">
						<div *ngIf="f.descripcion.errors.required">La descripcion es obligatoria.</div>
					</div>
				</div>
			
				<div class="col-sm-6 form-group">
					<label for="fecha" class="form-label">Fecha</label>
					<input type="date" formControlName="fecha" class="form-control"  min="01-01-1940" max="01-01-2003" [ngClass]="{ 'is-invalid': submitted && f.fecha.errors }"/>
					<div *ngIf="submitted && f.fecha.errors" class="invalid-feedback">
						<div *ngIf="f.fecha.errors.required">La fecha es obligatoria</div>
					</div>
				</div>

				<div class="col-sm-6 form-group">
					<label for="hora" class="form-label">Hora</label>
					<div class="input-group">
						<input type="time" formControlName="hora" class="form-control" min="09:00" max="18:00" [ngClass]="{ 'is-invalid': submitted && f.hora.errors }"/>
						<div *ngIf="submitted && f.hora.errors" class="invalid-feedback">
							<div *ngIf="f.hora.errors.required">La hora es obligatoria.</div>
						</div>
					</div>
				</div>

				<div class="col-12 form-group">
					<label for="telefono" class="form-label">Telefono (Opcional)</label>
					<input type="text"  maxlength = "9" formControlName="telefono" class="form-control"  placeholder="623 10 82 36" [ngClass]="{ 'is-invalid': submitted && f.telefono.errors }" />
					<div *ngIf="submitted && f.telefono.errors" class="invalid-feedback">
						<div *ngIf="f.telefono.errors.pattern">El telefono no es correcto.</div>
					</div>
				</div>
			</div>
			
			<br>
		  <div class="form-group">
			<button class="w-100 btn btn-primary btn-lg" type="submit">
				Pedir cita
			</button>
			</div>
		</form>
	  </div>
	</div>

</div>